---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
import { AUTHOR_NAME, AUTHOR_BIO, WATTPAD_URL } from '../consts';
---

<Layout
  title={`Sobre ${AUTHOR_NAME}`}
  description="Conoce a la autora de ¡Que me importa!"
  pubDate={new Date('2026-02-26')}
  heroImage={AboutHeroImage}
>
  <p class="lead text-xl font-serif">
    Hola, soy {AUTHOR_NAME}. {AUTHOR_BIO}
  </p>

  <p>
    Empecé a escribir en Wattpad hace años y nunca paré. Me encanta sumergirme
    en historias de todos los "géneros" (nótese las comillas), También soy una
    ávida lectora y escritora en Wattpad y el K-pop es mi banda sonora diaria
  </p>

  <p>
    En este blog no encontrarás reseñas académicas. Aquí opino sin filtro, como
    si estuviera hablando con una amiga de confianza. Si un libro me aburre, lo
    digo. Si un autor me sorprende, también. Y de vez en cuando, soltaré algún
    que otro comentario sobre el último comeback de mi grupo favorito o la serie
    que me mantuvo despierta una noche entera jeje
  </p>

  <h2>¿Por qué "¡Que me importa!"?</h2>
  <p>
    Porque me importa lo que leo, lo que siento y lo que comparto. Y porque
    también me importa un bledo lo que piensen los demás de mis gustos. Si te
    gusta lo que escribo, genial. Si no, también. Aquí el único juez soy yo.
  </p>

  <p>
    Puedes encontrarme en Wattpad como <a href={WATTPAD_URL} target="_blank"
      >@FranzEvy02</a
    >
  </p>

  <p>¡Gracias por pasarte! Nos leemos.</p>
</Layout>
