---
import { AUTHOR_NAME, AUTHOR_BIO, WATTPAD_URL } from '../consts';
import { Icon } from 'astro-icon/components';
import authorImage from '../assets/blog-placeholder-about.jpg';
---

<div
  class="bg-white rounded-2xl shadow-card p-8 my-12 border-l-8 border-primary"
>
  <div class="flex flex-col md:flex-row gap-8 items-center">
    <div
      class="w-48 h-48 rounded-full overflow-hidden border-4 border-secondary shadow-lg"
    >
      <img
        src={authorImage.src}
        alt={AUTHOR_NAME}
        class="w-full h-full object-cover"
      />
    </div>
    <div class="flex-1">
      <h2 class="text-3xl font-serif font-bold mb-2">{AUTHOR_NAME}</h2>
      <p class="text-muted mb-4">{AUTHOR_BIO}</p>
      <div
        class="flex flex-col space-y-3 md:space-x-3 md:space-y-0 md:flex-row"
      >
        <a
          href={WATTPAD_URL}
          target="_blank"
          class="inline-flex items-center bg-primary px-6 py-2 rounded-full font-bold"
        >
          <span class="text-white flex items-center">
            <Icon class="text-2xl mr-3" name="simple-icons:wattpad" /> Wattpad
          </span>
        </a>
        <a
          href="/about"
          class="inline-flex items-center border-2 border-primary text-primary px-6 py-2 rounded-full hover:bg-primary/10 transition-colors font-bold"
        >
          Más sobre mí
        </a>
      </div>
    </div>
  </div>
</div>
